@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: lightgray;
    font-family: Source Sans Pro;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    margin: auto;
    box-shadow: #ddd;
    padding: 2%;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
}

nav {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
}

nav ul {
    width: 100%;
    padding: 0 20px;
}

nav li,
a:link {
    display: inline-block;
    list-style: none;
    padding: 0 2px;
    text-decoration: none;
    text-align: center;
    color: #777;
}

h5 {
    color: #dd3232;
}

main,
.more-articles {
    margin-bottom: 1.5em;;
}

main img,
.more-articles section img,
.bonus-articles section img {
    width: 100%;
}

main p,
.more-articles section p,
.bonus-articles section p {
    margin: auto;
    text-align: justify;
    padding: 0 2%;
}

.more-articles,
.bonus-articles {
    border-top: 1px solid black;
}

.more-articles section {
    display: inline-block;
    width: 40%;
    margin: 0 4%;
 }

 .bonus-articles section {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
 }